DB_NAME=my_database                     # Имя базы данных
DB_USER=username                        # Имя пользователя базы данных
DB_PASSWORD=password                    # Пароль базы данных
DB_HOST=my_host                         # Хост для базы данных
DB_PORT=my_port                         # Порт для базы данных
